
.st-btn, .st-btn-compact, .st-share-button {
    transition: none !important;
    animation: none !important;
}

.st-popup, .st-sticky-share-buttons {
    transition: none !important;
    animation: none !important;
}

/* Disable all ShareThis animations */
[class*="st-"] {
    transition: none !important;
    animation: none !important;
}

.remain {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

body {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 65px;
  margin-right: 65px;
  background: url('negativeHarmony.png') no-repeat fixed center center / cover;
  color: black;
  text-shadow: 0 0 15px black;
  color: rgba(255, 255, 255, 0.811);
  background-color: black;
}

.boxed {
  box-shadow: 0 0 10px rgb(215, 118, 21);
  border: 1px solid #ccc;
  padding: 2px;
  -webkit-backdrop-filter: blur(5px); /* Safari */
  backdrop-filter: blur(5px);
}

.widget {
  max-width: 900px;
  margin: auto;
}

.row {
  width: 100%;
  margin-bottom: 10px;
}

.col {
  display: inline-block;
}

.events {
  vertical-align: top;
  margin: 10px;
}

.title {
  width: 80%;
  margin: 0 auto;
}

.transport {
  padding-left: 10px;
}

.input {
  vertical-align: middle;
  width: 100%;
}

.link {
  margin: 10px 10px 0 0;
  float: right;
}

ul {
  list-style-type: none;
  margin-left: 30px;
}

ol {
  list-style-type:circle;
  margin-left: 30px;
}

a {
  color: #2ee400;
  text-shadow: 0 0 10px black;
}

span {
  text-align: right;
}

.form-control, .form-select, .accordion-button .white-btn {
  background-color: #ffffff87;
  color: white;
}

input[type="range"]::-webkit-slider-thumb {
  background: orange;
}

input[type="range"]::-moz-range-thumb {
  background: orange;
}

input[type="range"]::-ms-thumb {
  background: orange;
}

.accordion-item {
  background-color: rgba(0, 0, 0, 0.307);
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: rgba(255, 255, 255, 0.775);
  -webkit-backdrop-filter: blur(5px); /* Safari */
  backdrop-filter: blur(5px);
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.stretch {
    width: 45%;
}

@media (max-width: 800px) {
  .horizontal {
    flex-direction: column;
  }

  body {
      margin-left: 15px;
      margin-right: 15px;
  }

  .stretch {
      width: 90%;
  }
}